.banner {
  background-color: #ffffff;
  .container {
    @include flex;
    align-items: center;
    padding: 20px 15px 34px 15px;
    @media #{$info-screen-992} {
      display: block;
    }
  }

  .banner__slick {
    width: 902px;
    @include border-radius(20px);
    overflow: hidden;
    @media #{$info-screen-1200} {
      width: calc(100% / 12 * 9);
    }
    @media #{$info-screen-992} {
      width: 100%;
      margin-bottom: 20px;
    }

    .slick__item {
      position: relative;
      &:focus {
        outline: none;
      }

      .item__btn {
        position: absolute;
        bottom: 9px;
        left: 464px;
        width: 203px;
        padding: 2px;
        height: 50px;
        border: 2px solid #ffffff;
        @include border-radius(10px);
        @include flex;
        align-items: center;
        justify-content: center;
        background-color: #3eb5d6;
        @media #{$info-screen-1200} {
          left: 355px;
          height: 44px;
        }
        @media #{$info-screen-992} {
          width: 160px;
          left: 377px;
          height: fit-content;
          overflow: hidden;
        }
        @media #{$info-screen-768} {
          width: 150px;
          height: fit-content;
          left: 280px;
        }
        @media #{$info-screen-575} {
          width: fit-content;
          bottom: 50%;
          @include transform(translate(0,50%));
          right: 10px;
          left: unset;
          height: auto;
        }

        a {
          display: flex;
          width: 100%;
          height: 100%;
          padding-left: 5px;
          @include font-size(22.8px);
          @include border-radius(5px);
          background-color: #ffab78;
          align-items: center;
          color: #ffffff;
          @media #{$info-screen-992} {
            width: 100%;
            height: auto;
            justify-content: center;
          }
          @media #{$info-screen-768} {
            width: 100%;
            height: 24px;
          }
          @media #{$info-screen-575} {
            width: auto;
            height: 100%;
            padding: 5px;
          }

          img {
            @media #{$info-screen-992} {
              display: none;
            }
            @media #{$info-screen-575} {
              display: block;
            }
            @media #{$info-screen-375} {
              height: 20px;
            }
          }

          p {
            text-shadow: 4px 2px 4px #777777;
            @media #{$info-screen-575} {
              display: none;
            }
          }     
        }
      }
    }

    .slick-dots {
      @include flex;
      position: absolute;
      bottom: 9px;
      left: 135px;
      @media #{$info-screen-1200} {
        left: 95px;
      }
      @media #{$info-screen-768} {
        display: none !important;
      }

      li {
        display: block;
        background: rgba(#009ca7,.5);
        height: 2px;
        width: 21px;
        margin-right: 7px;
        position: relative;
        @media #{$info-screen-1200} {
          width: 15px;
        }

        &.slick-active {
          background-color: #ffffff;
        }
      }
      
      button {
        opacity: 0;
        position: absolute;
        width: 21px;
        height: 2px;
      }
    }
  }

  .banner__icon {
    @include flex;
    flex-flow: wrap;
    height: 228px;
    @media #{$info-screen-1200} {
      height: auto;
    }
    @media #{$info-screen-992} {
      flex-flow: nowrap;
    }
    @media #{$info-screen-375} {
      flex-flow: wrap
    }

    .icon__item {
      width: 50%;
      @include flex;
      flex-flow: column;
      align-items: center;
      @media #{$info-screen-375} {
        margin-bottom: 10px;
      }
      &:nth-child(2) {
        img {
          padding-left: 7px;
        }
      }
      &:nth-child(3), &:last-child {
        justify-content: flex-end;
        margin: 0;
      }

      p {
        white-space: pre-line;
        text-align: center;
        color: #777777;
        @include font-size(15.14px);
        line-height: 1.2;
      }
    }
  }
}
