html {
  overflow-x: hidden;
}

body {
  position: relative;
}
ul, ol, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

* {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-family: 'UTM Neo Sans Intel';
}

input {
  border: none;
  &:focus {
    outline: none;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  } 
}

section {
  margin-bottom: 17px;
  background-color: #ffffff;
}


.slick-slide {
  &:focus {
    outline: none;
  }
}

