header {
  background-color: $primary-color;
  width: 100%;
  z-index: 2;
  @media #{$info-screen-768} {
    position: fixed;
  }
  a {
    color: #fff;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      color: #000;
    }
  }

  .header__desktop {
    padding: 14px 15px 17px 15px;
    position: relative;
    z-index: 1;
    @media #{$info-screen-768} {
      display: none;
    }

    .desktop__info {
      @include flex;
      justify-content: flex-end;
      @include font-size(12.1px);
      line-height: 12.88px;
      margin-bottom: 5px;

      .info__item {
        @include flex;
        align-items: center;
        margin-left: 65px;
        @media #{$info-screen-992} {
          margin-left: 30px;
        }

        img {
          margin-right: 4px;
        }

        &:first-child {
          margin: 0;
        }

        &.notice {
          position: relative;
          margin-left: 70px;
          @media #{$info-screen-992} {
            margin-left: 30px;
          }

          &.active {
            &::before {
              content: "";
              position: absolute;
              left: 10px;
              top: 8px;
              width: 10px;
              height: 10px;
              background-color: #fa434e;
              @include border-radius(50%);
            }
          }
          
          .item__nav {
            &:hover {

              a {
                color: #000;
              }
            }
          }

          a {
            display: block;

            &:last-child {
              @include font-size(11px);
            }
          }
        }
      }

      .item__account-log {
        @include flex;
        flex-flow: column;

        a {
          &:first-child {
            margin: -2px 0 2px 0;
          }
        }
      }
    }

    .desktop__main {
      @include flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 16px;

      .main__search {
        width: 654px;
        height: 37px;
        @include border-radius(7px);
        overflow: hidden;
        margin: 0 0 2px 14px;
        @include flex;
        @media #{$info-screen-1200} {
          width: 500px;
        }
        @media #{$info-screen-992} {
          width: 300px;
        }

        input {
          height: 100%;
          width: 100%;
          border: none;
          color: #9a9a9a;
          padding: 0 0 1px 17px;
          @include font-size(11px);
        }

        button {
          width: 117px;
          height: 100%;
          border: none;
          background-color: #e2e3e4;
          color: #888888;
          @include font-size(12.18px);
          @include flex;
          justify-content: center;
          align-items: center;
          @include transition(all 0.3s ease-in-out);
          &:hover {
            color: #000;
          }

          img {
            margin-right: 10px;
          }
        }
      }
      .main__button {
        width: 134px;
        height: 37px;
        border: none;
        color: #8e8e8e;
        background: #fff;
        cursor: pointer;
        font-family: 'UTM Neo Sans Intel';
        @include border-radius(7px);
        @include font-size(12.18px);
        @include flex;
        margin-bottom: 2px;
        align-items: center;
        justify-content: center;
        @include transition(all 0.3s ease-in-out);
        @media #{$info-screen-1200} {
          width: 100px;
        }
        &:hover {
          background-color: #fa434e;
          color: #fff;
        }

        p {
          margin-bottom: 2px;
        }

        &.pill {
          img {
            margin: 2px 11px 0 0;
            @media #{$info-screen-1200} {
              margin: 0 10px;
            }
          }
        }

        &.cart {
          position: relative;
          justify-content: flex-start;
          @media #{$info-screen-1200} {
            justify-content: center;
          }

          .cart__noti-number {
            font-family: "UTM Neo Sans Intel Bold";
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: #fa434e;
            color: #fff;
            @include border-radius(50%);
            text-align: center;
            line-height: 24px;
            right: -12px;
            top: -7px;
            @media #{$info-tablet-horizontal} {
              line-height: 22px;
            }
          }

          img {
            margin: 1px 15px 0 15px;
            @media #{$info-screen-1200} {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }

    .desktop__nav {
      @include flex;
      justify-content: space-between;
      @include font-size(14.4px);
      background-color: $primary-color;
      position: relative;

      .nav__item {
        @include flex;
        align-items: center;
        @media #{$info-screen-992} {
          width: calc(100% / 7);
        }

        a {
          margin-left: 10px;
        }

        &.product {
          .product__list {
            @include flex;
            flex-flow: column;
            background-color: $primary-color;
            visibility: hidden;
            opacity: 0;
            z-index: 2;
            padding: 15px;
            left: -20px;
            position: absolute;
            bottom: -167px;
            @include transform(translateY(-2em));
            @include border-radius-separate(0,0,5px,5px);
            @include transition(all 0.3s ease-in-out 0s, visibility 0s linear 0.3s);
            @media #{$info-tablet-horizontal} {
              bottom: -163px;
            }
            @media #{$info-tablet-vertical} {
              bottom: -159px;
            }

            &.active {
              visibility: visible;
              opacity: 1;
              @include transform(translateY(0%));
              @include transition-delay(0s, 0s, 0.3s);
            }

            .list__item {
              padding: 5px;
              margin: 0;

              &::before {
                content: ">";
                color: #fff;
                margin-right: 5px;
              }
            }
          }
  
          .product__title {
            color: #fff;
            @include flex;
            align-items: center;
            cursor: pointer;
            @include transition(all 0.3s ease-in-out);
            @media #{$info-screen-992} {
              align-items: center;
              padding: 0;
            }
            &:hover {
              color: #000;
            }

            img {
              margin-right: 10px;
            }
          }
        }

        &.promote {
          @media screen and (max-width: 1210px) {
            margin: 0;
          }
        }

        &.store {
          @media screen and (max-width: 1210px) {
            margin: 0;
          }
        }

        &.health {
          @media screen and (max-width: 1210px) {
            margin: 0;
          }
        }

        &.intro {
          @media screen and (max-width: 1210px) {
            margin: 0;
          }
        }

        &.quest {
          @media screen and (max-width: 1210px) {
            margin: 0;
          }
        }
      }
      
      .nav__item {
        
      }
    }
  }

  .header__sub {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    padding: 3px 0;
    background-color: $primary-color;
    @include transform(translateY(-100%));
    @include transition(all .3s ease-in-out);
    &.fixed {
      @include flex;
      opacity: 1;
      align-items: center;
      position: fixed;
      @include transform(translateY(0));
      top: 0;
      left: 0;
      z-index: 2;
      @media #{$info-screen-768} {
        display: none;
      }
    }

    .container {
      width: 100%;
    }

    .sub__main {
      @include flex;
      justify-content: space-between;
      align-items: center;

      .main__search {
        width: 654px;
        height: 37px;
        @include border-radius(7px);
        overflow: hidden;
        margin-left: 14px;
        @include flex;
        @media #{$info-screen-1200} {
          width: 500px;
        }
        @media #{$info-screen-992} {
          width: 300px;
        }

        input {
          height: 100%;
          width: 100%;
          border: none;
          color: #9a9a9a;
          padding: 0 0 1px 17px;
          @include font-size(11px);
        }

        button {
          width: 117px;
          height: 100%;
          border: none;
          background-color: #e2e3e4;
          color: #888888;
          @include font-size(12.18px);
          @include flex;
          justify-content: center;
          align-items: center;
          @include transition(all 0.3s ease-in-out);
          &:hover {
            color: #000;
          }

          img {
            margin-right: 10px;
          }
        }
      }

      .main__button {
        width: 134px;
        height: 37px;
        border: none;
        color: #8e8e8e;
        background: #fff;
        cursor: pointer;
        font-family: 'UTM Neo Sans Intel';
        @include border-radius(7px);
        @include font-size(12.18px);
        @include flex;
        align-items: center;
        justify-content: center;
        @include transition(all 0.3s ease-in-out);
        @media #{$info-screen-1200} {
          width: 100px;
        }
        &:hover {
          background-color: #fa434e;
          color: #fff;
        }

        p {
          margin-bottom: 2px;
        }

        &.pill {
          img {
            margin: 2px 11px 0 0;
            @media #{$info-screen-1200} {
              margin: 0 10px;
            }
          }
        }

        &.cart {
          position: relative;
          justify-content: flex-start;
          @media #{$info-screen-1200} {
            justify-content: center;
          }

          .cart__noti-number {
            font-family: "UTM Neo Sans Intel Bold";
            position: absolute;
            width: 24px;
            height: 24px;
            background-color: #fa434e;
            color: #fff;
            @include border-radius(50%);
            text-align: center;
            line-height: 24px;
            right: -12px;
            top: -7px;
            @media #{$info-tablet-horizontal} {
              line-height: 22px;
            }
          }

          img {
            margin: 1px 15px 0 15px;
            
            @media #{$info-screen-1200} {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
  
  .header__mobile {
    @include flex;
    justify-content: space-between;
    padding: 10px 15px;
    position: relative;
    z-index: 2;
    flex-flow: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: none;
    }

    .mobile__logo {
      margin-bottom: 10px;
    }

    .mobile__row {
      @include flex;
      width: 100%;
      justify-content: space-between;
      padding: 5px 0;

      .row__menu-btn {
        background: none;

        i {
          width: 25px;
          height: 3px;
          background-color: #fff;
          @include border-radius();
          position: relative;
          display: block;
          margin-bottom: 4px;
          @include transition(all .3s ease-in-out);

          &.bot {
            margin: 0;
          }
        }

        &.active {
          .top {
            margin: 0;
            @include transform(translateY(3px) rotate(-45deg));
          }

          .mid {
            margin: 0;
            width: 0;
          }

          .bot {
            @include transform(translateY(-3px) rotate(45deg));
          }
        }
      }

      .row__menu-dropdown {
        background-color: $primary-color;
        position: absolute;
        top: 103px;
        right: 0;
        z-index: 2;
        padding: 15px;
        @include border-radius-separate(0,0,5px,5px);
        visibility: hidden; /* hides sub-menu */
        opacity: 0;
        @include transform(translateY(-2em));
        @include transition(all 0.3s ease-in-out 0s, visibility 0s linear 0.3s);
        @media #{$info-screen-575} {
          @include transform(translateX(2em));
        }

        &.active {
          visibility: visible;
          opacity: 1;
          @include transform(translateY(0%));
          @include transition-delay(0s, 0s, 0.3s);
          @media #{$info-screen-575} {
            @include transform(translateX(0%));
          }
        }

        .menu-dropdown__account {
          margin-bottom: 15px;
          @include flex;

          .account__noti {
            @include flex;
            align-items: center;
            position: relative;

            &.active {
              &::before {
                content: '';
                position: absolute;
                left: 10px;
                top: 8px;
                width: 10px;
                height: 10px;
                background-color: #fa434e;
                @include border-radius(50%);
              }
            }

            a {
              white-space: pre-line;
              margin-left: 5px;
            }
          }
          .account__log {
            @include flex;
            align-items: center;
            margin-left: 40px;

            a {
              margin-left: 5px;
            }

            .log__nav {
              @include flex;
              flex-flow: column;
            }
          }
        }
        .menu-dropdown__button {
          @include flex;
          margin-bottom: 15px;

          button {
            border: none;
            @include border-radius();
            @include flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            color: #8e8e8e;
            @include transition(all .3s ease-in-out);
            &:hover {
              color: #000;
            }

            img {
              margin-right: 5px;
            }
          }
          .button__cart {
            position: relative;
            margin-left: 18px;

            .cart__number {
              font-family: 'UTM Neo Sans Intel Bold';
              @include font-size(12px);
              position: absolute;
              width: 22px;
              height: 22px;
              background-color: #fa434e;
              color: #fff;
              @include border-radius(50%);
              line-height: 22px;
              right: -11px;
              top: -7px;
            }
          }
        }
        .menu-dropdown__search {
          @include flex;
          @include border-radius();
          overflow: hidden;
          height: 30px;

          button {
            border: none;
            width: 30px;
            background-color: #ccc;
            padding-top: 5px;
          }

          input {
            border: none;
            padding-left: 10px;
            width: 100%;
            @include font-size(12px);
          }
        }
        .menu-dropdown__nav {
          margin-bottom: 15px;

          .nav__item {
            @include flex;
            align-items: center;
            margin-bottom: 15px;

            &.promote {
              a {
                margin-left: 8px;
              }
            }

            &.store {
              a {
                margin-left: 12px;
              }

              img {
                margin-left: 3px;
              }
            }

            &.health {
              a {
                margin-left: 8px;
              }
            }

            &.direct {
              margin: 0;
              a {
                margin-left: 7px;
              }

              img {
                margin-left: 2px;
              }
            }

            a {
              margin-left: 5px;
            }
          }
        }
      }
    }

    .row__product-btn {
      @include flex;
      cursor: pointer;
      color: #fff;
      align-items: center;
      @include transition(all .3s ease-in-out);
      &:hover {
        color: #000;
      }

      img {
        margin-right: 10px;
      }
    }

    .row__product-dropdown {
      @include flex;
      flex-flow: column;
      background-color: $primary-color;
      visibility: hidden; /* hides sub-menu */
      opacity: 0;
      z-index: 2;
      position: absolute;
      padding: 15px;
      left: 0;
      bottom: -135px;
      @include border-radius-separate(0,0,5px,5px);
      @include transform(translateY(-2em));
      @include transition(all 0.3s ease-in-out 0s , visibility 0s linear 0.3s);
      @media #{$info-screen-575} {
        @include transform(translateX(-2em));
      }

      &.active {
        visibility: visible;
        opacity: 1;
        @include transform(translateY(0%));
        @include transition-delay(0s, 0s, 0.3s);
        @media #{$info-screen-575} {
          @include transform(translateX(0%));
        }
      }

      .product-dropdown__item {
        padding: 5px 0;
        margin: 0;

        &::before {
          content: '>';
          color: #fff;
          margin-right: 5px;
        }
      }

      .account__log {
        @include flex;
      }
    }
  }

  .breadcrumb {
    background-color: #e2e3e4;
    font-family: "UTM Neo Sans Intel Bold";
    position: relative;
    z-index: 1;

    .container {
      padding: 9px 15px 14px 15px;

      a {
        color: #8c8c8d;
        @include font-size(11px);
        margin-right: 7px;
        @media #{$info-screen-768} {
          @include font-size(12px);
        }
        &:hover {
          color: #000;
        }

        &:last-child {
          color: #5f5f5f;

          &::after {
            content: unset;
          }
        }

        &::after {
          content: ">";
          margin-left: 13px;
          color: #8c8c8d;
        }
      }
    }
  }
}
