main {
  background-color: #ebebeb;
  padding-bottom: 67px;
  @media #{$info-screen-768} {
    padding: 149px 0 30px 0;
  }

  .category {
    @include flex;
    @include font-size(15.04px);
    font-family: 'UTM Neo Sans Intel Bold';
    justify-content: space-between;
    background-color: transparent;
    @media #{$info-screen-992} {
      flex-flow: wrap;
      justify-content: center;
    }
    @media #{$info-screen-575} {
      justify-content: space-evenly;
    }

    .category__item {
      display: block;
      @include flex;
      flex-flow: column;
      align-items: center;
      color: #ffffff;
      width: 207px;
      height: 144px;
      justify-content: center;
      @include border-radius(25px);
      @include transition(all .3s ease-in-out);
      @media #{$info-screen-1200} {
        width: 180px;
        height: 120px;
      }
      @media #{$info-screen-992} {
        width: 207px;
        height: 144px;
      }
      @media #{$info-screen-768} {
        width: 165px;
        height: 120px;
      }
      @media #{$info-screen-575} {
        width: 100px;
        height: 100px;
      }
      @media #{$info-screen-375} {
        width: 70px;
        height: 70px;
      }

      &:hover {
        box-shadow: 3px 3px 5px rgba(#595959,.8);
      }

      &.medicine, &.sale-product , &.cosmetic , &.pill {
        @media #{$info-screen-992} {
          margin-right: 20px;
        }
        @media #{$info-screen-375} {
          margin-right: 10px;
        }
      }

      &.pill {
        @media #{$info-screen-992} {
          margin-left: 20px;
        }
        @media #{$info-screen-375} {
          margin-left: 10px;
        }
      }

      &.medicine, &.product, &.pill {
        @media #{$info-screen-992} {
          margin-bottom: 20px;
        }
        @media #{$info-screen-375} {
          margin-bottom: 10px;
        }
      }

      img {
        margin-bottom: 6px;
        @media #{$info-screen-575} {
          margin: 0;
        }
        @media #{$info-screen-375} {
          height: 50%;
        }
      }

      p {
        color: #ffffff;
        text-shadow: 3px 0 2px #7b7774;
        @media #{$info-screen-575} {
          display: none;
        }
      }
    }
  }

  .cart {
    padding: 22px 32px 32px 32px;

    .cart__header {
        margin-bottom: 30px;
        @media #{$info-screen-375} {
          margin-bottom: 0;
        }

        h4 {
          @include font-size(20.17px);
          color: #595959;
          font-family: 'UTM Neo Sans Intel Bold';
          line-height: 1;
          @media #{$info-screen-375} {
            margin-bottom: 5px;
          }
        }

        p {
          @include font-size(11px);
          color: #7c7c7c;
        }
    }

    .cart__info {
        @include flex;
        margin-bottom: 34px;
        @media #{$info-screen-768} {
          flex-flow: column;
        }

        .info__item {
          width: calc(100% / 3);
          @include flex;
          flex-flow: column;
          align-items: center;
          white-space: pre-line;
          text-align: center;
          padding: 28px 20px 22px 20px;
          @media #{$info-screen-768} {
            width: auto;
          }

          img {
            margin-bottom: 15px;
            @media #{$info-screen-375} {
              height: 70px;
            }
          }

          &.chat {
            position: relative;

            &::before , &::after {
              content: '';
              position: absolute;
              width: 1px;
              height: 100%;
              background-color: #dfdfdf;
              top: 0;
              @media #{$info-screen-768} {
                width: 100%;
                height: 1px;
              }
            }

            &::before {
              left: 0;
            }

            &::after {
              right: 0;
              @media #{$info-screen-768} {
                top: unset;
                bottom: 0;
              }
            }

            img {
              margin-bottom: 13px;
            }
          }
          
          h5 {
            @include font-size(20.17px);
            color: #656565;
            line-height: 1.2;
            margin-bottom: 3px;
          }

          p {
            color: #a4a4a4;
            line-height: 1.1;
            @include font-size(13.75px);
            @media #{$info-screen-768} {
              white-space: unset;
            }
          }
        }
    }

    .cart__btn {
        background-color: #fa434e;
        @include font-size(13.51px);
        color: #ffffff;
        @include flex;
        width: 174px;
        height: 36px;
        @include border-radius(5px);
        @include transition(all .3s ease-in-out);
        margin: 0 auto;
        align-items: center;
        justify-content: center;

        &:hover {
          color: #282828;
        }

        img {
          margin-right: 9px;
        }
    }

  }

  .promote {
    padding-bottom: 18px;

    .promote__header {
      padding: 24px 23px 24px 30px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
    }

    .promote__slick {
      @media #{$info-screen-575} {
        width: 325px;
        margin: 0 auto;
      }
      @media #{$info-screen-375} {
        width: 220px;
      }

      .slick__item {
        margin-left: 20px;
        

        img {
          @media #{$info-screen-1200} {
            width: 309px;
          }
          @media #{$info-screen-992} {
            width: 350px
          }
          @media #{$info-screen-768} {
            width: 260px;
          }
          @media #{$info-screen-575} {
            width: 325px;
          }
          @media #{$info-screen-375} {
            width: 220px;
          }
        }
      }

      .slick-dots {
        @include flex;
        width: fit-content;
        margin: 0 auto;
  
        li {
          display: block;
          background: #969696;
          height: 8px;
          width: 8px;
          margin-right: 10px;
          @include border-radius(50%);

          &:last-child {
            margin-right: 0;
          }
  
          &.slick-active {
            background-color: $primary-color;
          }
        }
        
        button {
          opacity: 0;
          position: absolute;
          width: 8px;
          height: 8px;
        }
      }
    }
  }

  .hot-product {
    position: relative;
    padding-bottom: 80px;

    .hot-product__header {
      padding: 21px 23px 21px 36px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-575} {
        flex-flow: column;
        align-items: flex-end;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
      
    
      img {
        margin: 0 0 2px 0;
      }

      .header__title {
        @media #{$info-screen-575} {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .title__detail {
        margin-left: 8px;

        h5 {
          @include font-size(20.17px);
          font-family: 'UTM Neo Sans Intel Bold';
          color: #535353;
          line-height: 1;
        }

        p {
          @include font-size(16.5px);
          color: #848484;
          line-height: 1;    
        }
      }

    }

    .hot-product__main {
      @include flex;
      align-items: flex-start;
      justify-content: space-between;

      .main__slick {
        width: 70.5%;
        @media #{$info-screen-1200} {
          width: 70%;
        }
        @media #{$info-screen-768} {
          width: 55%;
        }

        &.slick-slider {
          position: unset;
        }

        .slick__item {
          @include flex;
          flex-flow: wrap;
          @media #{$info-screen-768} {
            margin-right: 20px;
          }
          @media #{$info-screen-575} {
            margin-right: 15px;
          }
          @media #{$info-screen-375} {
            margin-right: 10px;
          }
          
          a {
            margin: 0 12px 10px 0;
            @media #{$info-screen-1200} {
              width: 49%;
            }
            @media #{$info-screen-992} {
              width: 246px;
            }
            @media #{$info-screen-768} {
              width: 100%;
              margin-right: 0;
            }
            
            &:nth-child(3),&:last-child {
              margin-bottom: 0;
              @media #{$info-screen-768} {
                display: none;
              }
            }

            &:nth-child(even) {
              margin-right: 0;
            }
          }
        }

        .slick-dots {
          @include flex;
          position: absolute;
          left: 50%;
          bottom: 33px;
    
          li {
            display: block;
            background: #969696;
            height: 8px;
            width: 8px;
            margin-right: 10px;
            @include border-radius(50%);
  
            &:last-child {
              margin-right: 0;
            }
    
            &.slick-active {
              background-color: $primary-color;
            }
          }
          
          button {
            opacity: 0;
            position: absolute;
            width: 8px;
            height: 8px;
          }
        }
      }

      .main__banner {
        width: 28.5%;
        @media #{$info-screen-1200} {
          width: 29%;
        }
        @media #{$info-screen-992} {
          width: 28.3%;
        }
        @media #{$info-screen-768} {
          width: 45%;
        }
        
      }
    }
  }

  .non-prescription {
    .non-prescription__header {
      padding: 17px 23px 14px 36px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
    }
  }

  .functional-food {
    .functional-food__header {
      padding: 15px 23px 13px 46px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
    }
  }

  .consumer-goods {
    .consumer-goods__header {
      padding: 15px 23px 13px 37px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
    }
  }

  .cosmetic {
    .cosmetic__header {
      padding: 15px 23px 15px 37px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
    }
  }

  .tool {
    .tool__header {
      padding: 15px 23px 14px 36px;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding-left: 20px;
      }
    }
  }

  .news {
    padding: 21px 23px 41px 36px;
    @media #{$info-screen-375} {
      padding: 20px 20px 30px 20px;
    }

    .news__header {
      margin-bottom: 23px;
    }

    .news__content {
      @include flex;
      justify-content: space-between;
      @media #{$info-screen-992} {
        flex-flow: column;
      }

      .content__left {
        width: 500px;
        @media #{$info-screen-1200} {
          width: 400px;
        }
        @media #{$info-screen-992} {
          width: 550px;
          margin-bottom: 20px;
        }
        @media #{$info-screen-768} {
          width: 100%;
        }

        .left__item {
          @include flex;
          align-items: center;
          margin-bottom: 29px;
          justify-content: flex-start;
          @media #{$info-screen-375} {
            flex-flow: column
          }

          &:last-child {
            margin-bottom: 0;
          }
          
          .item__img {
            width: 51.38%;
            margin-right: 14px;
            overflow: hidden;
            @media #{$info-screen-992} {
              width: auto;
            }
            @media #{$info-screen-375} {
              width: 100%;
              margin: 0 0 10px 0;
              @include flex;
              justify-content: center;
            }

            img {
              @include transition(all .3s ease-in-out);
            }

            &:hover {
              img {
                @include transform(scale(1.1));
                @media #{$info-screen-375} {
                  @include transform(unset);
                }
              }
            }
          }

          .item__info {
            @media #{$info-screen-375} {
              text-align: center;
            }
            a {
              display: block;
              @include font-size(20.16px);
              font-family: 'UTM Neo Sans Intel Bold';
              color: #505050;
              @include transition(all .3s ease-in-out);

              &:hover {
                color: $primary-color;
              }
            }

            p {
              @include font-size(13.41px);
              color: #282828;
            }
          }
        }
      } 

      .content__right {
        width: 543px;
        @media #{$info-screen-1200} {
          width: 450px;
        }
        @media #{$info-screen-992} {
          width: 550px;
        }
        @media #{$info-screen-768} {
          width: 100%;
        }

        .right__title {
          @include font-size(18px);
          color: $primary-color;
          position: relative;
          @media #{$info-screen-375} {
            margin-bottom: 10px;
          }

          &::after {
            content: '';
            position: absolute;
            width: 375px;
            height: 2px;
            background-color: #e9eaeb;
            right: 0;
            top: 50%;
            @include transform(translate(0,50%));
            @media #{$info-screen-1200} {
              width: 280px;
            }
            @media #{$info-screen-992} {
              width: 390px;
            }
            @media #{$info-screen-768} {
              width: 73%;
            }
            @media #{$info-screen-575} {
              width: calc(100% - 130px);
            }
          }
        }

        .right__info {
          .info__item {
            @include flex;
            align-items: center;
            border-bottom: 2px solid #eaeaeb;
            padding-bottom: 4px;

            &:last-child {
              border: none;
            }

            .item__number {
              @include font-size(52.77px);
              font-family: 'UTM Neo Sans Intel Bold';
              color: #ebebeb;
              line-height: 1.2;
              margin-bottom: 5px;
            }

            .item__detail {
              margin-left: 10px;
              padding-right: 10px;

              a {
                @include font-size(20.16px);
                color: #535353;
                @include transition(all .3s ease-in-out);

                &:hover {
                  color: $primary-color;
                }
              }

              p {
                @include font-size(10.7px);
                color: #777777;
                line-height: 1.1;
              }
            }
          }
        }
      }
    }
  }

  .hot-brand {
    margin-bottom: 0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ececeb;
      top: 69px;
      @media #{$info-screen-375} {
        top: 50px;
      }
    }

    .hot-brand__title {
      padding: 20px 0 19px 35px;
      @include flex;
      align-items: center;
      @media #{$info-screen-768} {
        padding-left: 30px;
      }
      @media #{$info-screen-375} {
        padding: 10px 0 10px 20px;
      }

      img {
        margin-right: 10px;
      }
    }

    .hot-brand__slick {
      margin: 0 36px 0 40px;
      padding: 52px 0 49px 0;
      @media #{$info-screen-375} {
        padding: 30px 0 30px 0;
      }

      .slick__item {
        margin-right: 36px;

        img {
          @media #{$info-screen-375} {
            height: 20px;
          }
        }
      }
    }

    .slick-arrow {
      position: absolute;
      cursor: pointer;
      color: $primary-color;
    }

    .fa-chevron-left {
      left: -58px;
      top: 50%;
      @include transform(translate(0,-50%));
      @media screen and (max-width: 1250px) {
        left: -25px;
      }
    }

    .fa-chevron-right {
      top: 50%;
      @include transform(translate(0,-50%));
      right: -58px;
      @media screen and (max-width: 1250px) {
        right: -25px;
      }
    }
  }

  .chat-box-btn {
    background-color: transparent;
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 1;
    display: none;

    &.active {
      position: absolute;
      right: 35px;
      bottom: 694px;
      z-index: 1;
    }
  }
}